.intro__title {
  .text__word {
    padding-top: 0.5rem;
  }

  .text__word:first-child {
    padding-top: 2.5rem;
  }
}

.intro__date {
  .text__word {
    padding-top: 0.5rem;
  }
}

.text__word {
  display: inline-block;
  margin: 0 5px;
  overflow: hidden;
}

.text__word > span {
  transform: translate3d(0, 15rem, 0);
  display: inline-block;
}

.active > .text__word > span {
  transform: translate3d(0, 0, 0);
}
